<%= render :partial => 'partials/head' %>
<div id="welcome-msg">
        <div class="container">
          <div class="row">
            <div class="span12" id="info-text-full">
              <h1 class="welcome-msg-h">Приветствуем Вас на сайте компании «Express logistics»</h1>
            </div>
          </div>
        </div>
      </div><!-- welcome-msg -->
<%= render :partial => 'partials/foot' %>