<div class="manager-row-each">
  <p class="contact-page-p">
    <% if cookies[:language] == "eng" %>
      Rokicka Solomija
    <% if cookies[:language] == "rus" %>

    <% if cookies[:language] == "ukr" %>

    <% if cookies[:language] == "de" %>

    <% else %>
       <%= @manager %>
    <% end %>
  </p>
  <p class="contact-page-p">
    +38 (067) 675-86-57
  </p>
  <p class="contact-page-p">
    <a href="mailto:rokicka_solomija@expresslogistics.com.ua ">@rokicka_solomija</a>
  </p>
  <br>
</div>
